$color-1: #101219;
$color-2: #181b26; // Borders & Scrollbar tracks
$color-3: #191d28; // Background
$color-4: #272e3f;
$color-5: #2f374b;
$color-6: #374058; // Panel Background
$color-7: #3f4964;
$color-8: #475271;  // Docking Icon
$color-9: #4f5b7d;
$color-10: #56648a;
$color-11: #5e6d97;
$color-12: #6877a1;
$color-13: #7583a9;
$color-14: #828eb0;
$color-15: #8e99b8;
$color-16: #9ba5c0;
$color-17: #a7b0c8;
$color-18: #b4bbc0;
$color-19: #c0c7d8;
$color-20: #cdd2e0;
$color-21: #d9dde7;
$color-22: #e6e8ef;
$color-23: #f2f4f7;
$color-24: #ffffff;

$color-highlight-1: rgb(5, 145, 5);

$color-a: rgb(32, 46, 58);
$color-b: rgb(34, 48, 60);
$color-c: rgb(36, 51, 64);
$color-d: rgb(44, 57, 71);
$color-e: rgb(42, 59, 75);
$color-f: rgb(45, 63, 80);

$text-color: rgb(199, 206, 214);
$highlight-color: rgb(71, 166, 168);
$hover-color: $color-f;

$window-title-bar-color: $color-a;
$panel-title-bar-color: $color-b;
$app-background: $color-d;
$render-background: $color-a;
$panel-background: $color-c;
$selection-highlight: $highlight-color; //$color-f;
$selection-hover: $hover-color;
$control-background: $color-c;
$control-border: $color-e;

$icon-color: $text-color;
$icon-selected-color: $highlight-color;