$color-0: #08090d;
$color-1: #101219;
$color-2: #181b26; // Borders & Scrollbar tracks
$color-3: #191d28; // Background
$color-4: #272e3f;
$color-5: #2f374b;
$color-6: #374058; // Panel Background
$color-7: #3f4964;
$color-8: #475271;  // Docking Icon
$color-9: #4f5b7d;
$color-10: #56648a;
$color-11: #5e6d97;
$color-12: #6877a1;
$color-13: #7583a9;
$color-14: #828eb0;
$color-15: #8e99b8;
$color-16: #9ba5c0;
$color-17: #a7b0c8;
$color-18: #b4bbc0;
$color-19: #c0c7d8;
$color-20: #cdd2e0;
$color-21: #d9dde7;
$color-22: #e6e8ef;
$color-23: #f2f4f7;
$color-24: #ffffff;

$color-highlight-1: rgb(5, 145, 5);